@charset "UTF-8"

	* {
		margin: 0px;
		padding: 0px;
		font-family: Arial, Helvetica, sans-serif;
	}

	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
	body {
		position: relative;
		background-color: white;
	}

	img {
		position: absolute;
		width: 100vw;
		left: 50%;
		right: 50%;
		transform: translate(-50%, 50%);
	}